version: "3.8"

services:
  greeting-db:
    image: postgres:14-alpine
    container_name: greeting-database
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=greetings
    ports:
      - "5432:5432"
    volumes:
      - greeting-pg-data:/var/lib/postgresql/greetings/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  greeting_app:
    image: ctg405/greeting-app:1.0.0
    container_name: greeting-service
    environment:
      - DB_URL=jdbc:postgresql://greeting-db:5432/greetings
      - DB_USERNAME=postgres
      - DB_PASSWORD=admin
    ports:
      - "8080:8080"
    depends_on:
      - greeting-db

volumes:
  greeting-pg-data:
